.about-logo {
  height: 80px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Images/3456.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 120px 20px;
  border-radius: 20px;
  border: 4px solid #c9a86a;
  margin: 20px auto 60px;
  width: 95%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: #f5f1e8;
}

.hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: auto;
  color: rgba(245, 241, 232, 0.9);
  line-height: 1.6;
}

.about {
  padding: 70px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about img {
  width: 100%;
  border-radius: 15px;
}

.about-text h2 {
  color: #f5f1e8;
  margin-bottom: 20px;
}

.about-text p {
  line-height: 1.8;
  margin-bottom: 15px;
}

.mission {
  background: #1e1e1e;
  padding: 60px 10%;
}

.mission h2 {
  text-align: center;
  color: #f5f1e8;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
  border: 4px solid #c9a86a;
}
.card p {
  color: #f5f1e8;
}

.card h3 {
  color: #c9a86a;
  margin-bottom: 10px;
}

.stats {
  padding: 70px 10%;
  text-align: center;
}

.stats h2 {
  margin-bottom: 40px;
}

.stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.stat {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
  width: 220px;
  border: 4px solid #c9a86a;
}

.stat h3 {
  color: #f5f1e8;
  font-size: 2rem;
}
.stat p {
  color: #c9a86a;
}

footer {
  background: #1e1e1e;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
  color: #f5f1e8;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    padding: 30px 5%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }
  
  .cards {
    grid-template-columns: 1fr;
  }
  
  .mission, .stats, .about {
    padding: 20px 5%;
  }
}
